body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:54px;
  width:1150px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:90px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:147px;
  width:1140px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:845px;
  top:90px;
  width:495px;
  height:47px;
}
#u8_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:147px;
  width:1145px;
  height:105px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:30px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:1136px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:1140px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:1136px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:60px;
  width:1140px;
  height:40px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1071px;
  top:91px;
  width:20px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
