body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:590px;
  height:206px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:206px;
}
#u1 {
  position:absolute;
  left:2px;
  top:95px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:226px;
  top:23px;
  width:180px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:90px;
  width:554px;
  height:86px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:86px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:transparent;
}
#u5 {
  position:absolute;
  left:48px;
  top:95px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:236px;
  top:96px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:236px;
  top:111px;
  width:130px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:386px;
  top:96px;
  width:182px;
  height:15px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:386px;
  top:112px;
  width:158px;
  height:24px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:494px;
  top:186px;
  width:100px;
  height:20px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:48px;
  top:113px;
  width:178px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:390px;
  top:186px;
  width:100px;
  height:20px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
