body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:342px;
  top:119px;
  width:530px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:139px;
  width:474px;
  height:421px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:421px;
}
#u3 {
  position:absolute;
  left:2px;
  top:202px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:372px;
  top:166px;
  width:70px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:370px;
  top:139px;
  width:474px;
  height:25px;
  color:#1E1E1E;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:470px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:446px;
  top:165px;
  width:80px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:780px;
  top:570px;
  width:64px;
  height:19px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:370px;
  top:191px;
  width:479px;
  height:374px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:30px;
  color:#1E1E1E;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:470px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:30px;
  width:474px;
  height:30px;
  color:#1E1E1E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:470px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:60px;
  width:474px;
  height:309px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:309px;
}
#u15 {
  position:absolute;
  left:2px;
  top:146px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:370px;
  top:191px;
  width:110px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:370px;
  top:220px;
  width:110px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:370px;
  top:570px;
  width:80px;
  height:19px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
