body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:50px;
  width:590px;
  height:470px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:470px;
}
#u1 {
  position:absolute;
  left:2px;
  top:227px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:435px;
  top:78px;
  width:180px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:150px;
  width:554px;
  height:340px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:340px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:transparent;
}
#u5 {
  position:absolute;
  left:257px;
  top:160px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:257px;
  top:175px;
  width:330px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:592px;
  top:160px;
  width:30px;
  height:15px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:592px;
  top:176px;
  width:178px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:254px;
  top:210px;
  width:129px;
  height:15px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:254px;
  top:228px;
  width:46px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:310px;
  top:228px;
  width:46px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:400px;
  top:210px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:400px;
  top:225px;
  width:130px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:592px;
  top:210px;
  width:182px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:592px;
  top:225px;
  width:68px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:254px;
  top:253px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:254px;
  top:271px;
  width:46px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:310px;
  top:271px;
  width:46px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:400px;
  top:250px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:400px;
  top:265px;
  width:130px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:592px;
  top:250px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:592px;
  top:265px;
  width:130px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:254px;
  top:292px;
  width:75px;
  height:15px;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:256px;
  top:308px;
  width:234px;
  height:22px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37_input:disabled {
  color:grayText;
}
#u38 {
  position:absolute;
  left:515px;
  top:292px;
  width:182px;
  height:15px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:515px;
  top:307px;
  width:158px;
  height:23px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:673px;
  top:315px;
  width:101px;
  height:15px;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:254px;
  top:335px;
  width:173px;
  height:15px;
  font-size:12px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:254px;
  top:351px;
  width:234px;
  height:22px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45_input:disabled {
  color:grayText;
}
#u46 {
  position:absolute;
  left:515px;
  top:335px;
  width:141px;
  height:15px;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:515px;
  top:351px;
  width:234px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48_input:disabled {
  color:grayText;
}
#u49 {
  position:absolute;
  left:254px;
  top:377px;
  width:221px;
  height:15px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:254px;
  top:393px;
  width:234px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u51_input:disabled {
  color:grayText;
}
#u52 {
  position:absolute;
  left:515px;
  top:377px;
  width:123px;
  height:15px;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:515px;
  top:393px;
  width:234px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u54_input:disabled {
  color:grayText;
}
#u55 {
  position:absolute;
  left:256px;
  top:417px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:256px;
  top:433px;
  width:234px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u57_input:disabled {
  color:grayText;
}
#u58 {
  position:absolute;
  left:515px;
  top:417px;
  width:143px;
  height:15px;
  font-size:12px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:515px;
  top:433px;
  width:234px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u60_input:disabled {
  color:grayText;
}
#u61 {
  position:absolute;
  left:718px;
  top:492px;
  width:100px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:432px;
  top:126px;
  width:202px;
  height:16px;
  font-size:13px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:608px;
  top:492px;
  width:100px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
