body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:580px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:70px;
  width:580px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:563px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:580px;
  height:1px;
}
#u3 {
  position:absolute;
  left:188px;
  top:53px;
  width:482px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:380px;
  top:112px;
  width:180px;
  height:38px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:394px;
  top:202px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:394px;
  top:245px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:343px;
  top:211px;
  width:41px;
  height:16px;
  font-size:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:343px;
  top:250px;
  width:46px;
  height:16px;
  font-size:13px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:398px;
  top:305px;
  width:144px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:392px;
  top:160px;
  width:200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:326px;
  top:191px;
  width:330px;
  height:16px;
  font-family:'Arial Itálico', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  color:#FF0000;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:444px;
  top:227px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
