body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:50px;
  width:590px;
  height:690px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:435px;
  top:78px;
  width:180px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:252px;
  top:141px;
  width:547px;
  height:559px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:559px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:transparent;
}
#u5 {
  position:absolute;
  left:680px;
  top:185px;
  width:60px;
  height:20px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:584px;
  top:188px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:476px;
  top:125px;
  width:104px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:260px;
  top:184px;
  width:163px;
  height:15px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:433px;
  top:184px;
  width:47px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:475px;
  top:184px;
  width:47px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:261px;
  top:202px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:434px;
  top:202px;
  width:47px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:476px;
  top:202px;
  width:47px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:699px;
  top:710px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:461px;
  top:147px;
  width:46px;
  height:16px;
  font-size:13px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:668px;
  top:146px;
  width:110px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:556px;
  top:146px;
  width:110px;
  height:19px;
  color:#CCCCCC;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:250px;
  top:169px;
  width:530px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:513px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:530px;
  height:1px;
}
#u30 {
  position:absolute;
  left:260px;
  top:245px;
  width:138px;
  height:15px;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:260px;
  top:270px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:260px;
  top:288px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:260px;
  top:306px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:260px;
  top:324px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:260px;
  top:344px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:312px;
  top:344px;
  width:103px;
  height:16px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:439px;
  top:245px;
  width:103px;
  height:15px;
  font-size:12px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:439px;
  top:270px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:439px;
  top:288px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:439px;
  top:306px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:439px;
  top:324px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:569px;
  top:270px;
  width:151px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:569px;
  top:288px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:569px;
  top:306px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:569px;
  top:326px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:624px;
  top:324px;
  width:151px;
  height:17px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:260px;
  top:375px;
  width:124px;
  height:15px;
  font-size:12px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:260px;
  top:400px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:260px;
  top:418px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:260px;
  top:436px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:260px;
  top:454px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:260px;
  top:474px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:312px;
  top:474px;
  width:103px;
  height:16px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:393px;
  top:400px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u76 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u75_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u77 {
  position:absolute;
  left:393px;
  top:418px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u77_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u79 {
  position:absolute;
  left:510px;
  top:375px;
  width:132px;
  height:15px;
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:510px;
  top:400px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:510px;
  top:418px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:510px;
  top:436px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  position:absolute;
  left:575px;
  top:399px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:575px;
  top:419px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  position:absolute;
  left:575px;
  top:437px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u92 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u91_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u93 {
  position:absolute;
  left:637px;
  top:437px;
  width:138px;
  height:16px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94 {
  position:absolute;
  left:260px;
  top:505px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:260px;
  top:524px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  position:absolute;
  left:260px;
  top:542px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:260px;
  top:560px;
  width:130px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u101 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  position:absolute;
  left:260px;
  top:578px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:393px;
  top:559px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:393px;
  top:574px;
  width:103px;
  height:16px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  position:absolute;
  left:393px;
  top:524px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u108 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:393px;
  top:542px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:562px;
  top:479px;
  width:81px;
  height:15px;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:654px;
  top:475px;
  width:124px;
  height:22px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u113_input:disabled {
  color:grayText;
}
#u114 {
  position:absolute;
  left:510px;
  top:505px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:670px;
  top:501px;
  width:108px;
  height:22px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u116_input:disabled {
  color:grayText;
}
#u117 {
  position:absolute;
  left:541px;
  top:530px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:654px;
  top:533px;
  width:124px;
  height:22px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u119_input:disabled {
  color:grayText;
}
#u120 {
  position:absolute;
  left:631px;
  top:570px;
  width:147px;
  height:20px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121 {
  position:absolute;
  left:513px;
  top:565px;
  width:118px;
  height:30px;
  font-size:12px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:522px;
  top:618px;
  width:124px;
  height:15px;
  font-size:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:648px;
  top:615px;
  width:124px;
  height:22px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u125_input:disabled {
  color:grayText;
}
#u126 {
  position:absolute;
  left:260px;
  top:615px;
  width:148px;
  height:41px;
  font-size:12px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:41px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:378px;
  top:618px;
  width:141px;
  height:22px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u128_input:disabled {
  color:grayText;
}
#u129 {
  position:absolute;
  left:260px;
  top:650px;
  width:118px;
  height:41px;
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:378px;
  top:652px;
  width:141px;
  height:22px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u131_input:disabled {
  color:grayText;
}
#u132 {
  position:absolute;
  left:546px;
  top:653px;
  width:106px;
  height:15px;
  font-size:12px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:662px;
  top:649px;
  width:111px;
  height:22px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u134_input:disabled {
  color:grayText;
}
#u135 {
  position:absolute;
  left:589px;
  top:710px;
  width:100px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u136 {
  position:absolute;
  left:479px;
  top:710px;
  width:100px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
