body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:54px;
  width:1140px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:90px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:420px;
  top:147px;
  width:910px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:150px;
  width:220px;
  height:450px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:450px;
}
#u9 {
  position:absolute;
  left:2px;
  top:217px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:420px;
  top:147px;
  width:915px;
  height:65px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:30px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:906px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:910px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:906px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:150px;
  width:91px;
  height:16px;
  font-size:13px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:192px;
  top:176px;
  width:195px;
  height:16px;
  font-size:13px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:835px;
  top:89px;
  width:495px;
  height:47px;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:835px;
  top:89px;
  width:123px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:958px;
  top:87px;
  width:125px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:1210px;
  top:89px;
  width:120px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:420px;
  top:176px;
  width:250px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
