body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:54px;
  width:1150px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:90px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:147px;
  width:950px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:150px;
  width:180px;
  height:450px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:450px;
}
#u9 {
  position:absolute;
  left:2px;
  top:217px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:390px;
  top:147px;
  width:955px;
  height:105px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:950px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:60px;
  width:950px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:946px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:194px;
  top:164px;
  width:176px;
  height:16px;
  font-size:13px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1210px;
  top:150px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:845px;
  top:86px;
  width:495px;
  height:47px;
}
#u20_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:845px;
  top:86px;
  width:123px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:968px;
  top:84px;
  width:125px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:1220px;
  top:86px;
  width:120px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:410px;
  top:550px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
