body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:50px;
  width:380px;
  height:400px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:70px;
  width:340px;
  height:360px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:360px;
}
#u3 {
  position:absolute;
  left:2px;
  top:172px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:100px;
  width:70px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:250px;
  top:70px;
  width:340px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:125px;
  width:340px;
  height:305px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:305px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:504px;
  top:405px;
  width:64px;
  height:19px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:250px;
  top:135px;
  width:328px;
  height:265px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:30px;
  width:323px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:60px;
  width:323px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:90px;
  width:323px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:120px;
  width:323px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:150px;
  width:323px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:180px;
  width:323px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:210px;
  width:323px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:240px;
  width:323px;
  height:20px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:250px;
  top:180px;
  width:323px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:319px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:420px;
  top:250px;
  width:70px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:500px;
  top:250px;
  width:70px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
