body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:54px;
  width:1150px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:90px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:147px;
  width:950px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:150px;
  width:180px;
  height:450px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:450px;
}
#u9 {
  position:absolute;
  left:2px;
  top:217px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:845px;
  top:86px;
  width:495px;
  height:47px;
}
#u10_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:845px;
  top:86px;
  width:123px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:968px;
  top:84px;
  width:125px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:1220px;
  top:86px;
  width:120px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:200px;
  top:160px;
  width:78px;
  height:16px;
  font-size:13px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:390px;
  top:147px;
  width:955px;
  height:335px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:30px;
  width:950px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:60px;
  width:950px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:90px;
  width:950px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:120px;
  width:950px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:150px;
  width:950px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:180px;
  width:950px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:210px;
  width:950px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:240px;
  width:950px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:270px;
  width:950px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:300px;
  width:950px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
