body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:75px;
  width:670px;
  height:569px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:569px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:202px;
  top:95px;
  width:630px;
  height:519px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:519px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:427px;
  top:107px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:202px;
  top:164px;
  width:630px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:613px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:630px;
  height:1px;
}
#u7 {
  position:absolute;
  left:209px;
  top:200px;
  width:608px;
  height:404px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:404px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:734px;
  top:617px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:204px;
  top:174px;
  width:82px;
  height:16px;
  font-size:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
