body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:54px;
  width:1150px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:90px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:150px;
  width:950px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:150px;
  width:180px;
  height:450px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:450px;
}
#u9 {
  position:absolute;
  left:2px;
  top:217px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1220px;
  top:154px;
  width:110px;
  height:14px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:845px;
  top:90px;
  width:495px;
  height:47px;
}
#u11_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:205px;
  top:162px;
  width:156px;
  height:45px;
}
#u21_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:129px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:124px;
  white-space:nowrap;
}
#u22_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27 {
  position:absolute;
  left:20px;
  top:20px;
  width:104px;
  height:20px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:205px;
  top:206px;
  width:87px;
  height:25px;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:22px;
  top:0px;
  width:60px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u33 {
  position:absolute;
  left:3px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:205px;
  top:233px;
  width:138px;
  height:25px;
}
#u34_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:22px;
  top:0px;
  width:111px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u37 {
  position:absolute;
  left:3px;
  top:2px;
  width:106px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:390px;
  top:178px;
  width:955px;
  height:137px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:36px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:327px;
  top:0px;
  width:307px;
  height:36px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:303px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:634px;
  top:0px;
  width:316px;
  height:36px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:36px;
  width:327px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:327px;
  top:36px;
  width:307px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:634px;
  top:36px;
  width:316px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:66px;
  width:327px;
  height:36px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:327px;
  top:66px;
  width:307px;
  height:36px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:303px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:634px;
  top:66px;
  width:316px;
  height:36px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:102px;
  width:327px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:327px;
  top:102px;
  width:307px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:634px;
  top:102px;
  width:316px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:208px;
  top:253px;
  width:123px;
  height:25px;
}
#u63_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65 {
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u66 {
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:620px;
  top:194px;
  width:550px;
  height:100px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:42px;
  width:546px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1000px;
  top:260px;
  width:80px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:1086px;
  top:261px;
  width:80px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
