body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:50px;
  width:590px;
  height:310px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:310px;
}
#u1 {
  position:absolute;
  left:2px;
  top:147px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:435px;
  top:78px;
  width:180px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:252px;
  top:141px;
  width:547px;
  height:184px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:184px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:transparent;
}
#u5 {
  position:absolute;
  left:341px;
  top:115px;
  width:366px;
  height:16px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:680px;
  top:329px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:252px;
  top:141px;
  width:533px;
  height:189px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:524px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:528px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:524px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:528px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:524px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:90px;
  width:528px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:524px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:120px;
  width:528px;
  height:64px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:64px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:673px;
  top:144px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:575px;
  top:329px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:710px;
  top:175px;
  width:63px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:710px;
  top:204px;
  width:65px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:710px;
  top:234px;
  width:65px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:252px;
  top:170px;
  width:168px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:252px;
  top:200px;
  width:158px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:252px;
  top:230px;
  width:158px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
