body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:50px;
  width:1180px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:54px;
  width:1150px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:90px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:400px;
  top:140px;
  width:940px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:150px;
  width:180px;
  height:450px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:450px;
}
#u9 {
  position:absolute;
  left:2px;
  top:217px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:407px;
  top:180px;
  width:38px;
  height:16px;
  font-size:13px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:407px;
  top:206px;
  width:563px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:1230px;
  top:558px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:1120px;
  top:558px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:990px;
  top:206px;
  width:340px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:990px;
  top:180px;
  width:37px;
  height:16px;
  font-size:13px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:407px;
  top:237px;
  width:42px;
  height:16px;
  font-size:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:407px;
  top:257px;
  width:253px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:680px;
  top:237px;
  width:106px;
  height:16px;
  font-size:13px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:680px;
  top:257px;
  width:290px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:990px;
  top:236px;
  width:106px;
  height:16px;
  font-size:13px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:990px;
  top:257px;
  width:340px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27 {
  position:absolute;
  left:407px;
  top:282px;
  width:56px;
  height:16px;
  font-size:13px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:407px;
  top:302px;
  width:253px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:680px;
  top:282px;
  width:145px;
  height:16px;
  font-size:13px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:680px;
  top:302px;
  width:253px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:990px;
  top:284px;
  width:163px;
  height:16px;
  font-size:13px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:990px;
  top:302px;
  width:253px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:1230px;
  top:147px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:1060px;
  top:147px;
  width:160px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:205px;
  top:162px;
  width:156px;
  height:45px;
}
#u38_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:129px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:124px;
  white-space:nowrap;
}
#u39_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44 {
  position:absolute;
  left:20px;
  top:20px;
  width:104px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:205px;
  top:206px;
  width:87px;
  height:25px;
}
#u47_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:60px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:205px;
  top:233px;
  width:138px;
  height:25px;
}
#u51_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:111px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:106px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:208px;
  top:253px;
  width:123px;
  height:25px;
}
#u55_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:845px;
  top:86px;
  width:495px;
  height:47px;
}
#u59_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:845px;
  top:86px;
  width:123px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:968px;
  top:84px;
  width:125px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:1220px;
  top:86px;
  width:120px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:232px;
  top:278px;
  width:80px;
  height:16px;
  font-size:13px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
