body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:50px;
  width:380px;
  height:400px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:70px;
  width:340px;
  height:360px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:360px;
}
#u3 {
  position:absolute;
  left:2px;
  top:172px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:70px;
  width:340px;
  height:15px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:250px;
  top:85px;
  width:340px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u7 {
  position:absolute;
  left:260px;
  top:110px;
  width:320px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:260px;
  top:95px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:170px;
  width:153px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:260px;
  top:150px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:450px;
  top:170px;
  width:120px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:447px;
  top:150px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:370px;
  top:265px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:370px;
  top:265px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
