body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:283px;
  top:102px;
  width:1180px;
  height:808px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:808px;
}
#u1 {
  position:absolute;
  left:2px;
  top:396px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:293px;
  top:106px;
  width:1140px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:303px;
  top:142px;
  width:180px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:523px;
  top:210px;
  width:910px;
  height:680px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:680px;
}
#u7 {
  position:absolute;
  left:2px;
  top:332px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:293px;
  top:202px;
  width:220px;
  height:688px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:688px;
}
#u9 {
  position:absolute;
  left:2px;
  top:336px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:523px;
  top:199px;
  width:915px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:30px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:906px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:293px;
  top:202px;
  width:82px;
  height:16px;
  font-size:13px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1340px;
  top:865px;
  width:90px;
  height:18px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:1238px;
  top:865px;
  width:100px;
  height:18px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:525px;
  top:285px;
  width:904px;
  height:187px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:187px;
}
#u18 {
  position:absolute;
  left:2px;
  top:86px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:972px;
  top:285px;
  width:10px;
  height:187px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:170px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:187px;
}
#u20 {
  position:absolute;
  left:711px;
  top:342px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1193px;
  top:342px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:703px;
  top:402px;
  width:67px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1185px;
  top:402px;
  width:67px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:522px;
  top:501px;
  width:910px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u29 {
  position:absolute;
  left:528px;
  top:515px;
  width:78px;
  height:16px;
  font-size:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:608px;
  top:515px;
  width:150px;
  height:16px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:528px;
  top:554px;
  width:63px;
  height:16px;
  font-size:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:595px;
  top:554px;
  width:200px;
  height:16px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34_input:disabled {
  color:grayText;
}
#u35 {
  position:absolute;
  left:524px;
  top:573px;
  width:908px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:891px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:908px;
  height:1px;
}
#u36 {
  position:absolute;
  left:528px;
  top:683px;
  width:133px;
  height:16px;
  font-size:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:533px;
  top:709px;
  width:890px;
  height:151px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:151px;
}
#u39 {
  position:absolute;
  left:2px;
  top:68px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:953px;
  top:768px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:528px;
  top:583px;
  width:95px;
  height:16px;
  font-size:13px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:750px;
  top:609px;
  width:330px;
  height:72px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45 {
  position:absolute;
  left:531px;
  top:259px;
  width:30px;
  height:16px;
  font-size:13px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:587px;
  top:259px;
  width:200px;
  height:16px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u48 {
  position:absolute;
  left:528px;
  top:482px;
  width:111px;
  height:16px;
  font-size:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:647px;
  top:482px;
  width:200px;
  height:16px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u50_input:disabled {
  color:grayText;
}
#u51 {
  position:absolute;
  left:528px;
  top:609px;
  width:100px;
  height:16px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:576px;
  top:609px;
  width:100px;
  height:16px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:750px;
  top:583px;
  width:183px;
  height:16px;
  font-size:13px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1099px;
  top:609px;
  width:324px;
  height:72px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:1099px;
  top:583px;
  width:148px;
  height:16px;
  font-size:13px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1323px;
  top:205px;
  width:100px;
  height:18px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:531px;
  top:233px;
  width:128px;
  height:16px;
  font-size:13px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:670px;
  top:233px;
  width:300px;
  height:16px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:1213px;
  top:205px;
  width:100px;
  height:18px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:938px;
  top:141px;
  width:495px;
  height:47px;
}
#u65_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:501px;
  height:53px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:124px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:248px;
  top:0px;
  width:124px;
  height:47px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:372px;
  top:0px;
  width:123px;
  height:47px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:47px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:938px;
  top:141px;
  width:123px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:1061px;
  top:139px;
  width:125px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  position:absolute;
  left:1313px;
  top:141px;
  width:120px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:1058px;
  top:554px;
  width:18px;
  height:16px;
  font-size:13px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1081px;
  top:554px;
  width:89px;
  height:16px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u80_input:disabled {
  color:grayText;
}
#u81 {
  position:absolute;
  left:1131px;
  top:865px;
  width:100px;
  height:18px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
